@page
@model Allotment.Pages.SettingsModel
@{
}
<h1>Settings</h1>

<form method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <textarea asp-for="Settings" rows="20" cols="20" spellcheck="false" class="form-control" required=true></textarea>
                <span asp-validation-for="Settings"></span>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <button type="submit"  class="btn btn-primary" name="Action" value="Save">
            Save changes
        </button>
        <button type="submit" class="btn btn-secondary" name="Action" value="Reset">
            Reset to defaults
        </button>
    </div>
</form>


<h2 class="mt-4">Api Key</h2>
<textarea rows="3" cols="20" spellcheck="false" class="form-control" >@(await Model.GenerateTokenAsync())</textarea>
