@page
@model Allotment.Pages.WaterLevelSensorModel
@{
}

<h1>Water level sensor</h1>


<form method="post">
    <button class="btn btn-link text-decoration-none">
        Turn sensor on
    </button>
</form>
