@using Allotment.Pages.Shared.Components.WaterLevel.Models
@model WaterLevelViewModel;
@{
}

<div>
    Water Level: @Model.WaterLevelStatus

    @if (Model.Percent != null)
    {
        <div class="barrel">
            <div class="water-level" style="height:@(Model.Percent * 2)px; margin-top: @(200 - (Model.Percent * 2))px"> </div>
        </div>
    }
</div>

