@using System.Security.Principal
@using Allotment.AppSettingsConfig;
@inject AllotmentConfig Configuration

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text text-dark">Hello @User.Identity?.Name!</span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
}
else
{
        <li class="nav-item">
        @if (Configuration.Auth.AuthenticationEnabled)
        {
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        }
        else
        {
            <text>
                Auth disabled (in app settings)
            </text>            
        }
        </li>
    }
</ul>
