html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.running svg{
    animation: pulsate 2s linear infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.6);
    }

    80% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}