html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.running svg{
    animation: pulsate 2s linear infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.6);
    }

    80% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.barrel {
    background: #ddd;
    width: 100px;
    border-radius: 30px 30px 6px 6px;
    height: 200px;
    padding: 6px;
    box-shadow: 3px 3px 3px #efefef;
    margin-bottom: 4px;
}

.water-level {
    background: blue;
    width: 87px;
    margin-top: 5px;
    height: 190px; /*190px; full*/
    z-index: 1;
    border-radius: 28px 28px 10px 10px;
}